@theme {
	--color-charade-50: #f0f1f4;
	--color-charade-100: #e2e3e9;
	--color-charade-200: #c4c7d4;
	--color-charade-300: #a7acbe;
	--color-charade-400: #8a90a8;
	--color-charade-500: #6d7492;
	--color-charade-600: #575d75;
	--color-charade-700: #414658;
	--color-charade-800: #2b2e3a;
	--color-charade-900: #16171d;
	--color-charade-950: #0b0c0f;
}
