@import "tailwindcss";
@import "./colors.css";

:root {
	--background: var(--color-charade-50);
	--foreground: var(--color-charade-950);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-charade-950);
		--foreground: var(--color-charade-50);
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-atkinson-hl-sans);
	--font-mono: var(--font-atkinson-hl-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
