@theme {
	--color-charade-50: #f0f0f3;
	--color-charade-100: #e1e2e7;
	--color-charade-200: #c1c3cf;
	--color-charade-300: #a5a8b9;
	--color-charade-400: #898da3;
	--color-charade-500: #6c718b;
	--color-charade-600: #55586e;
	--color-charade-700: #3e4152;
	--color-charade-800: #282a36;
	--color-charade-900: #181921;
	--color-charade-950: #0d0e14;
}
